---
http_interactions:
- request:
    method: post
    uri: https://teamweek.com/api/v3/230525/users/bulk_import.json?users%5B%5D%5Bname%5D=User%20One&users%5B%5D%5Bname%5D=User%20Two&users%5B%5D%5Bname%5D=User%20Three
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer Gl0sZQD_0iqNeMqk9MxKAyT3Gm-JJ79ZyCnTxphs7NWxohpRynnydv6B_x1drVN25o6m7dwBWUe7EljvJPlrZmiaW9pZMwQYi7GeayLdwVhNmymlYYX_N2yKgqc6IvtWWxUIIjR5RHrSZNkkKqpsWmZ8zZmcg2Z0depXaaUwB_PhNlW9h4CV4BYdnbgVCk8EKBZGm59U0zIJRs267jeyiRtlM6VvaNpqC7IFCZ971qgb5rH0mmr-fWFpicI2vMA_FS7KMStx-OaDnQeCt5fZZNoLziwEFtpLMdBJrFP5HEvpJWJk60GKuXl2FErcnffa7WlQL9TTARNCNZIjI9RCGA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3f00b852d2848218596c89f15cd3fe7"
    body:
      encoding: UTF-8
      string: '[{"id":1055929,"email":"","name":"User One","initials":"uo","picture_url":"/avatars/s50/missing.png","has_picture":false,"color":"#dedede","color_id":40,"weight":4,"position":4,"role":"readonly","dummy":true,"active":false,"invitation":null,"created_at":"2017-01-14T18:55:58.373+00:00","updated_at":"2017-01-14T18:55:58.373+00:00","foreign_id":""},{"id":1055930,"email":"","name":"User
        Two","initials":"ut","picture_url":"/avatars/s50/missing.png","has_picture":false,"color":"#8c75d6","color_id":1,"weight":5,"position":5,"role":"readonly","dummy":true,"active":false,"invitation":null,"created_at":"2017-01-14T18:55:58.468+00:00","updated_at":"2017-01-14T18:55:58.468+00:00","foreign_id":""},{"id":1055931,"email":"","name":"User
        Three","initials":"ut","picture_url":"/avatars/s50/missing.png","has_picture":false,"color":"#ccaf53","color_id":36,"weight":6,"position":6,"role":"readonly","dummy":true,"active":false,"invitation":null,"created_at":"2017-01-14T18:55:58.560+00:00","updated_at":"2017-01-14T18:55:58.560+00:00","foreign_id":""}]'
  recorded_at: Sat, 14 Jan 2017 18:55:58 GMT
recorded_with: VCR 3.0.3
