---
http_interactions:
- request:
    method: put
    uri: https://teamweek.com/api/v3/230525/users/1054464/profile?name=Mel
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer Pb2PyrbjnFXTNGn-512MEWIJnS98Yn4Jrqb-6u_v2T2P-CSEeuT8np7MZl5sn73RQRkcH_ceAJD2TcPv21CAaj2ZPYMcyzkishAXgnZUWuAXIu56GgaHwqN2LA7Oi_NK56w2OFmQBeyx3BmqixRSGRZyZ8mR_lvypC1uNslnipZCe3ZXoLcJuM5WL7RYq1wYqOe3dYTZwGZh-DdH91_20U02ZRnNixRiORi9Tt4KR42S78kd7y0zdN0touF9_VN21oR6MMP3GLc2HbDJz8ZwQYK9ktYO0NGb6kq5fDV9tG2Ma4VN4GGkzKFFABPi-P1QwHcA3S5uGc7bnBL50XVORg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"73185e82013be83b506f3232ea41b69a"
    body:
      encoding: UTF-8
      string: '{"id":1054464,"email":"iurimadeira@gmail.com","name":"Mel","initials":"iu","picture_url":"/avatars/s50/missing.png","has_picture":false,"color":"#7fffcd","color_id":32,"weight":0,"position":0,"role":"admin","dummy":false,"active":true,"invitation":null,"created_at":"2017-01-12T11:15:21.760+00:00","updated_at":"2017-01-14T13:55:16.363+00:00"}'
  recorded_at: Sat, 14 Jan 2017 13:55:16 GMT
recorded_with: VCR 3.0.3
