---
http_interactions:
- request:
    method: post
    uri: https://teamweek.com/api/v3/230525/milestones?date=2017-01-20T00:00:00-02:00&name=New%20milestone
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer HXo16MSt9r4lUp11RYagzXDlj8YYbl2UOeg8leKIS6j5n3kepHCzXXB_G4G4JGR2t0lSGFRi0wpCRUlc_j_APLwi4cW1-cY30Uz_7x6JJR8t17M5fkM4Kht3So1G64EbMxLij7_o2p_hevircmMXvVq4069dc4sY6u3FStok0yB5wHrEiDKKeirtIbkfX_KjSaB7ukYQ1EKKXefc2w15ziuTUBmPtVQjs97dS2pYy1qbhmjdn3i1bEZSUIXBvUzd0zTwq7u5c0NzexuOhBHf0ZD0z_3GDqsCoxmEnCRcrZhrCnwiGLqZQaMMgZ1zsRPA2MzJhLy-RN7DsPc6jfg2ZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6915333826f6dc37dc730f4b827f6764"
    body:
      encoding: UTF-8
      string: '{"id":319816,"name":"New milestone","date":"2017-01-20","holiday":false,"done":false,"color":21,"group_id":null,"created_at":"2017-01-14T14:53:55.130+00:00","updated_at":"2017-01-14T14:53:55.130+00:00"}'
  recorded_at: Fri, 20 Jan 2017 02:00:00 GMT
recorded_with: VCR 3.0.3
