---
http_interactions:
- request:
    method: post
    uri: https://teamweek.com/api/v3/230525/tasks?date=2017-01-14&name=New%20Task
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer p8ulRZh2GvLU5VSZCf5jm6Xq3uVMHAUb0830MKrtf64XwKrzdE0B98zut3-dMpD16k55ZH8acB5Pi9deBshnkG7nC_jnMpLiMhcu4y_cO03GSuyy1yYIWlyyAp9q4Ad8MBv2eAkwpdjQxAC9_i2_r2m-ADZDPhces74exW5hPYoDqk1Nk5ONGNmzuT1WexKwCK0wvYZaJTB1fBPFo8y5VVigfDRt6AEHmwfKETGmgS4ftHIJqKaMmbOqREFCqYcCiLC9_9y4Wg_NjxdNpzIZn3792O_XCkOz3PiXUK_oxeeTk7sgLameFtu_822SuJTonH8IigcBpDjj8bC7JBOE8Q==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"260ea9f113ba824d9eeed89bf5904424"
    body:
      encoding: UTF-8
      string: '{"id":7381639,"name":"New Task","notes":null,"start_date":null,"end_date":null,"start_time":null,"end_time":null,"color":"#8dc5ff","color_id":25,"estimated_hours":0.0,"done":false,"user_id":null,"project_id":null,"project":null,"folder_id":null,"weight":0.0,"created_at":"2017-01-14T02:45:26.593+00:00","updated_at":"2017-01-14T02:45:26.593+00:00","deleted_at":null}'
  recorded_at: Sat, 14 Jan 2017 02:45:26 GMT
recorded_with: VCR 3.0.3
