---
http_interactions:
- request:
    method: get
    uri: https://teamweek.com/api/v3/230525/tasks/backlog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer smdHHPlNNYAjvHlzvFLuE-KAdpMb7xZwk3kPYOgog4EhmT61I6ySOYJum26PnmXwY3BhA2MOAsgkldwgf-WuKmzgi0uAdU2eyw2SMgi0xyUQ9pu0PLjaS_cz5HKBPpPrvIVHS6lWAGDhESkAcNzkDpG6FcTP2KpY4L-y1gkOm3rcHw5in_0EJNcQNQz9y_8mrUEspOwqM1RGQjGnwD86pcrhDEOkwtung0ZZtNirzXjHWAYYuck_8YyH64A1zBharxW8c8t--CMmvXlPGAxyk-02XSWxegzJ_u6ZB0GXfgmFB3BlGCKAN25DylthymBauWQmWBID_PzYHygXYfDKzA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0f939a961f27730967e3a43dd37d82f8"
    body:
      encoding: UTF-8
      string: '[{"id":7361942,"name":"Drag from backlog to assign a task to someone","notes":null,"start_date":null,"end_date":null,"start_time":null,"end_time":null,"color":"#ffbb89","color_id":12,"estimated_hours":0.0,"done":false,"user_id":null,"project_id":null,"project":null,"folder_id":null,"weight":0.0,"created_at":"2017-01-12T12:17:55.817+00:00","updated_at":"2017-01-12T12:17:55.817+00:00","deleted_at":null},{"id":7361941,"name":"Sticky
        tasks will stay in the backlog","notes":null,"start_date":null,"end_date":null,"start_time":null,"end_time":null,"color":"#bc7037","color_id":11,"estimated_hours":0.0,"done":false,"user_id":null,"project_id":null,"project":null,"folder_id":null,"weight":0.0,"created_at":"2017-01-12T12:17:55.808+00:00","updated_at":"2017-01-12T12:17:55.808+00:00","deleted_at":null}]'
  recorded_at: Fri, 13 Jan 2017 22:18:43 GMT
recorded_with: VCR 3.0.3
