---
http_interactions:
- request:
    method: get
    uri: https://teamweek.com/api/v3/230525/tasks/7375749
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer smdHHPlNNYAjvHlzvFLuE-KAdpMb7xZwk3kPYOgog4EhmT61I6ySOYJum26PnmXwY3BhA2MOAsgkldwgf-WuKmzgi0uAdU2eyw2SMgi0xyUQ9pu0PLjaS_cz5HKBPpPrvIVHS6lWAGDhESkAcNzkDpG6FcTP2KpY4L-y1gkOm3rcHw5in_0EJNcQNQz9y_8mrUEspOwqM1RGQjGnwD86pcrhDEOkwtung0ZZtNirzXjHWAYYuck_8YyH64A1zBharxW8c8t--CMmvXlPGAxyk-02XSWxegzJ_u6ZB0GXfgmFB3BlGCKAN25DylthymBauWQmWBID_PzYHygXYfDKzA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c15ad0d9ce6bb357ce7c190b5ed26baa"
    body:
      encoding: UTF-8
      string: '{"id":7375749,"name":"Test","notes":"Test","start_date":"2017-01-16","end_date":"2017-01-22","start_time":null,"end_time":null,"color":"#8b992c","color_id":21,"estimated_hours":0.0,"done":false,"user_id":1054512,"project_id":null,"project":null,"folder_id":null,"weight":0.0,"created_at":"2017-01-13T14:11:54.390+00:00","updated_at":"2017-01-13T22:09:48.316+00:00","deleted_at":null}'
  recorded_at: Fri, 13 Jan 2017 22:45:51 GMT
recorded_with: VCR 3.0.3
