---
http_interactions:
- request:
    method: post
    uri: https://teamweek.com/api/v3/230525/groups?date=2017-01-20T00:00:00-02:00&name=New%20group
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer Gl0sZQD_0iqNeMqk9MxKAyT3Gm-JJ79ZyCnTxphs7NWxohpRynnydv6B_x1drVN25o6m7dwBWUe7EljvJPlrZmiaW9pZMwQYi7GeayLdwVhNmymlYYX_N2yKgqc6IvtWWxUIIjR5RHrSZNkkKqpsWmZ8zZmcg2Z0depXaaUwB_PhNlW9h4CV4BYdnbgVCk8EKBZGm59U0zIJRs267jeyiRtlM6VvaNpqC7IFCZ971qgb5rH0mmr-fWFpicI2vMA_FS7KMStx-OaDnQeCt5fZZNoLziwEFtpLMdBJrFP5HEvpJWJk60GKuXl2FErcnffa7WlQL9TTARNCNZIjI9RCGA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"638a815a7da51ce05e4c970b886d5a8a"
    body:
      encoding: UTF-8
      string: '{"id":175544,"name":"New group","account_id":230525,"memberships":[],"created_at":"2017-01-14T19:24:59.433+00:00","updated_at":"2017-01-14T19:24:59.433+00:00"}'
  recorded_at: Fri, 20 Jan 2017 02:00:00 GMT
recorded_with: VCR 3.0.3
