---
http_interactions:
- request:
    method: get
    uri: https://teamweek.com/api/v3/230525/groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer WKTp32hQr1HIC_v9cCG6LyoH_gRcLuBUxB9iC6xgGfoYXNQWnFOqqUC1ROluqtfOWbuUNPAuEiEXyKVT1v9VgIxnmc2WkbbwZs86f-1in8xa2ps0gkgD9jr8bCit33sLqf2SkPQPbhksq2BKuoL1S36GZzMwPUozajwIQ3wx9so2Wb3TOelCsFLyAZHAHDdz_9cPMnXw_hslpjesu-cevtC3_41UbJy_Lh5EBVfVe9o5Bl-IuSOPR7X3XclKi4uFzMxNvPl7pbl2FLpIJZOnb8PDHRQ6C7R-u91kDKv1oblrWamNcIFWMCYcynfGLcMwj1D41IP8Dz6gULdLcTXzZA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e904acbbbd40d65287ee91924e7c756"
    body:
      encoding: UTF-8
      string: '[{"id":175052,"name":"First user group","account_id":230525,"memberships":[{"id":598083,"group_id":175052,"user_id":1054513,"weight":2,"position":2,"created_at":"2017-01-12T12:18:07.550+00:00","updated_at":"2017-01-14T13:21:45.622+00:00"},{"id":598028,"group_id":175052,"user_id":1054464,"weight":0,"position":0,"created_at":"2017-01-12T11:15:21.784+00:00","updated_at":"2017-01-12T11:15:21.784+00:00"}],"created_at":"2017-01-12T11:15:21.775+00:00","updated_at":"2017-01-12T11:15:21.775+00:00"},{"id":175531,"name":"New
        group","account_id":230525,"memberships":[],"created_at":"2017-01-14T16:23:37.340+00:00","updated_at":"2017-01-14T16:23:37.340+00:00"}]'
  recorded_at: Sat, 14 Jan 2017 16:23:41 GMT
recorded_with: VCR 3.0.3
