---
http_interactions:
- request:
    method: put
    uri: https://teamweek.com/api/v3/230525/groups/175531?name=Renamed%20group
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer Gl0sZQD_0iqNeMqk9MxKAyT3Gm-JJ79ZyCnTxphs7NWxohpRynnydv6B_x1drVN25o6m7dwBWUe7EljvJPlrZmiaW9pZMwQYi7GeayLdwVhNmymlYYX_N2yKgqc6IvtWWxUIIjR5RHrSZNkkKqpsWmZ8zZmcg2Z0depXaaUwB_PhNlW9h4CV4BYdnbgVCk8EKBZGm59U0zIJRs267jeyiRtlM6VvaNpqC7IFCZ971qgb5rH0mmr-fWFpicI2vMA_FS7KMStx-OaDnQeCt5fZZNoLziwEFtpLMdBJrFP5HEvpJWJk60GKuXl2FErcnffa7WlQL9TTARNCNZIjI9RCGA==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"80a6c239e80e6ec3c5a61df117b26c0e"
    body:
      encoding: UTF-8
      string: '{"id":175531,"name":"Renamed group","account_id":230525,"memberships":[],"created_at":"2017-01-14T16:23:37.340+00:00","updated_at":"2017-01-14T19:32:59.879+00:00"}'
  recorded_at: Sat, 14 Jan 2017 19:32:59 GMT
recorded_with: VCR 3.0.3
