---
http_interactions:
- request:
    method: get
    uri: https://teamweek.com/api/v3/230525/groups/175052/memberships
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer WKTp32hQr1HIC_v9cCG6LyoH_gRcLuBUxB9iC6xgGfoYXNQWnFOqqUC1ROluqtfOWbuUNPAuEiEXyKVT1v9VgIxnmc2WkbbwZs86f-1in8xa2ps0gkgD9jr8bCit33sLqf2SkPQPbhksq2BKuoL1S36GZzMwPUozajwIQ3wx9so2Wb3TOelCsFLyAZHAHDdz_9cPMnXw_hslpjesu-cevtC3_41UbJy_Lh5EBVfVe9o5Bl-IuSOPR7X3XclKi4uFzMxNvPl7pbl2FLpIJZOnb8PDHRQ6C7R-u91kDKv1oblrWamNcIFWMCYcynfGLcMwj1D41IP8Dz6gULdLcTXzZA==
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"500","error":"Internal Server Error"}'
  recorded_at: Sat, 14 Jan 2017 16:52:57 GMT
- request:
    method: delete
    uri: https://teamweek.com/api/v3/230525/groups/memberships/598083
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer WKTp32hQr1HIC_v9cCG6LyoH_gRcLuBUxB9iC6xgGfoYXNQWnFOqqUC1ROluqtfOWbuUNPAuEiEXyKVT1v9VgIxnmc2WkbbwZs86f-1in8xa2ps0gkgD9jr8bCit33sLqf2SkPQPbhksq2BKuoL1S36GZzMwPUozajwIQ3wx9so2Wb3TOelCsFLyAZHAHDdz_9cPMnXw_hslpjesu-cevtC3_41UbJy_Lh5EBVfVe9o5Bl-IuSOPR7X3XclKi4uFzMxNvPl7pbl2FLpIJZOnb8PDHRQ6C7R-u91kDKv1oblrWamNcIFWMCYcynfGLcMwj1D41IP8Dz6gULdLcTXzZA==
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <!doctype html>
        <!--[if lt IE 7]> <html class="no-js ie6 oldie"> <![endif]-->
        <!--[if IE 7]>    <html class="no-js ie7 oldie"> <![endif]-->
        <!--[if IE 8]>    <html class="no-js ie8 oldie"> <![endif]-->
        <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
        <head>
          <meta charset="utf-8">
          <title>Teamweek - 404 Page not found</title>

          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        </head>
        <body class="error-page">
        <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
          <div style="font-family: Helvetica, Arial, sans-serif; text-align: center; padding: 50px;">
            <h1>Not found :(</h1>
            <p>You have reached a place which is... <span>Not here</span>. Maybe it was an outdated link? Check the link or try returning where you came from.</p>
            <p>You might go to <a href="https://teamweek.com">Teamweek home</a> to start over or check the <a href="http://support.teamweek.com/">knowledge base</a> on how to get help.</p>
            <a href="https://teamweek.com">Teamweek</a>
          </div>
        </body>
        </html>
  recorded_at: Sat, 14 Jan 2017 16:53:00 GMT
- request:
    method: get
    uri: https://teamweek.com/api/v3/230525/groups/175052/memberships
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer WKTp32hQr1HIC_v9cCG6LyoH_gRcLuBUxB9iC6xgGfoYXNQWnFOqqUC1ROluqtfOWbuUNPAuEiEXyKVT1v9VgIxnmc2WkbbwZs86f-1in8xa2ps0gkgD9jr8bCit33sLqf2SkPQPbhksq2BKuoL1S36GZzMwPUozajwIQ3wx9so2Wb3TOelCsFLyAZHAHDdz_9cPMnXw_hslpjesu-cevtC3_41UbJy_Lh5EBVfVe9o5Bl-IuSOPR7X3XclKi4uFzMxNvPl7pbl2FLpIJZOnb8PDHRQ6C7R-u91kDKv1oblrWamNcIFWMCYcynfGLcMwj1D41IP8Dz6gULdLcTXzZA==
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"500","error":"Internal Server Error"}'
  recorded_at: Sat, 14 Jan 2017 16:53:03 GMT
recorded_with: VCR 3.0.3
