---
http_interactions:
- request:
    method: get
    uri: https://teamweek.com/api/v3/230525/projects/1258677
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer HXo16MSt9r4lUp11RYagzXDlj8YYbl2UOeg8leKIS6j5n3kepHCzXXB_G4G4JGR2t0lSGFRi0wpCRUlc_j_APLwi4cW1-cY30Uz_7x6JJR8t17M5fkM4Kht3So1G64EbMxLij7_o2p_hevircmMXvVq4069dc4sY6u3FStok0yB5wHrEiDKKeirtIbkfX_KjSaB7ukYQ1EKKXefc2w15ziuTUBmPtVQjs97dS2pYy1qbhmjdn3i1bEZSUIXBvUzd0zTwq7u5c0NzexuOhBHf0ZD0z_3GDqsCoxmEnCRcrZhrCnwiGLqZQaMMgZ1zsRPA2MzJhLy-RN7DsPc6jfg2ZQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a44459ead899ba89f166abcf68e08284"
    body:
      encoding: UTF-8
      string: '{"id":1258677,"name":"My first project","color":"#a8ced7","color_id":18,"client":null,"created_at":"2017-01-12T12:17:55.800+00:00","updated_at":"2017-01-12T12:17:55.800+00:00"}'
  recorded_at: Sat, 14 Jan 2017 14:40:12 GMT
recorded_with: VCR 3.0.3
